.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group {
  display: flex;
}

.start {
  margin-right: 20px;
}

.count,
.strict {
  text-transform: uppercase;
}

.start,
.reset {
  cursor: pointer;
  text-transform: uppercase;
}
